/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 may 2023, 17:09:15
    Author     : manub
*/

#ventana{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 20;
    
    -fx-border-color: #272727;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    
    -fx-effect: dropshadow(gaussian, #000000, 0, 10, 5, 5);
}
#buscador{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 0 0 5 5;
    
    -fx-border-color: #272727;
    -fx-border-radius: 0 0 5 5;
    -fx-border-width: 1;
    
    -fx-effect: dropshadow(gaussian, #000000, 0, 10, 3, 3);
}
#1Ventana{
    -fx-background-color: #BCC7C2;
}
#2Ventana{
    -fx-background-color: #FEFEE3;
}
/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 0 10 10 10;
    
    -fx-border-color: #272727;
    -fx-border-radius: 0 10 10 10;
    -fx-border-width: 3;
    -fx-border-insets: -2px;
    
    -fx-text-fill: #000000;
    -fx-font-size: 1.4em;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 3, 3);
}
.button:hover{
    -fx-background-color: #ced1c2;
}
.button:focused{
    -fx-background-color: #e1e9eb;
}
.button:default{
    -fx-background-color: #52694C;
    -fx-text-fill: #ffffff;
}
.button:default:hover{
    -fx-background-color: #2C5530;
}
.button:cancel{
    -fx-background-color: #D58B89;
}
.button:cancel:hover{
    -fx-background-color: #B6174B;
    -fx-text-fill: #ffffff;
}
.button:active{
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 0, 0);
}
.button:disabled{
    -fx-opacity: 60%;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 0, 0);
}
#perfilButton:disabled{
    -fx-opacity: 1;
}
/*******************************************************************************
 *                                                                             *
 * Grid                                                                        *
 *                                                                             *
 ******************************************************************************/
.grid{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 20;
    
    -fx-border-color: #272727;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    
    -fx-effect: dropshadow(gaussian, #000000, 0, 10, 5, 5);
}
/*******************************************************************************
 *                                                                             *
 * Toggle Button                                                               *
 *                                                                             *
 ******************************************************************************/
.toggle-button{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 0 10 10 10;
    
    -fx-border-color: #272727;
    -fx-border-radius: 0 10 10 10;
    -fx-border-width: 3;
    -fx-border-insets: -2px;
    
    -fx-text-fill: #000000;
    -fx-font-size: 1.4em;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 3, 3);
}
.toggle-button:hover{
    -fx-background-color: #ced1c2;
}
.toggle-button:selected{
    -fx-background-color: #52694C;
}
.toggle-button:focused{
    -fx-background-color: #52694C;
    -fx-text-fill: #ffffff;
}
.toggle-button:disabled{
    -fx-opacity: 60%;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 0, 0);
}
/*******************************************************************************
 *                                                                             *
 * Radio Button                                                               *
 *                                                                             *
 ******************************************************************************/
.radio-button{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 0 10 10 10;
    
    -fx-border-color: #272727;
    -fx-border-radius: 0 10 10 10;
    -fx-border-width: 3;
    -fx-border-insets: -2px;
    
    -fx-text-fill: #000000;
    -fx-font-size: 1.4em;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 3, 3);
}
.radio-button .radio{
    -fx-opacity: 1;
    -fx-padding: 0px;
    -fx-scale-x: 0;
}

/*******************************************************************************
 *                                                                             *
 * Text Field                                                                  *
 *                                                                             *
 ******************************************************************************/
.text-field{
    -fx-border-color: #272727;
    -fx-border-radius: 5 0 0 0;
    -fx-border-width: 3 0 0 3;
    
    -fx-background-color: #CFDBD5;
    -fx-background-radius: 5 0 0 0;
}
.text-field:focused{
    -fx-background-color: #e9f0e9;
}
.text-field:hover{
    -fx-background-color: #e9f0e9;
}
.text-field:disabled{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-opacity: 1;
}
.password-field{
    -fx-border-color: #272727, #272727, #272727 ,#272727;
    -fx-border-radius: 5 0 0 0;
    -fx-border-width: 3 0 0 3;
    
    -fx-background-color: #CFDBD5;
    -fx-background-radius: 5 0 0 0;
}
.password-field:focused{
    -fx-background-color: #e9f0e9;
}
.password-field:hover{
    -fx-background-color: #e9f0e9;
}
.password-field:disabled{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-opacity: 1;
}

#textFieldError{
    -fx-border-color: #B6174B;
    -fx-border-radius: 5 0 0 0;
    -fx-border-width: 3 0 0 3;
    
    -fx-background-color: #CFDBD5;
    -fx-background-radius: 5 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 * Botones especiales de reserva                                               *
 *                                                                             *
 ******************************************************************************/

#buttonLibre{
    -fx-background-color: #FEFEE3;
    -fx-background-radius: 10 10 10 10;
    
    -fx-border-color: #272727;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2;
    -fx-border-insets: -2px;
    
    -fx-text-fill: #000000;
    -fx-font-size: 1.4em;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 2, 2);
    -fx-font-family: Monospac821 BT;
}
#buttonLibre:hover{
    -fx-background-color: #ced1c2;
}
#buttonLibre:active{
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 0, 0);
}

#buttonReservado{
    -fx-background-color: #CFDBD5;
    -fx-background-radius: 10 10 10 10;
    
    -fx-border-color: #272727;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2;
    -fx-border-insets: -2px;
    
    -fx-text-fill: #000000;
    -fx-font-size: 1.4em;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 2, 2);
    -fx-font-family: Monospac821 BT;
}


#buttonReservadoMi{
    -fx-background-color: #2C5530;
    -fx-background-radius: 10 10 10 10;
    
    -fx-border-color: #272727;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2;
    -fx-border-insets: -2px;
    
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.4em;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 2, 2);
    -fx-font-family: Monospac821 BT;
}
#buttonReservadoMi:hover{
    -fx-background-color: #52694C;
}





#pistaHbox{
    -fx-background-color: #e9f0e9;
    -fx-background-radius: 20 0 0 0;
    
    -fx-border-color: #272727;
    -fx-border-radius: 20 0 0 0;
    -fx-border-width: 4 0 0 4;
}
#ventanaBox{
    -fx-background-color: #FEFEE3;
}
#registrarseButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 0, 0, 0);
}
#eyeButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 0, 0, 0);
}

#defaultLabel20{
    -fx-font-family: Monospac821 BT;
    -fx-font-size: 20;
}
#titleLabel{
    -fx-font-family: Monospac821 BT;
    -fx-font-size: 25;
}

/*
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////Movidas///////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
*/





#tabButton{
    -fx-background-color: #dbdbdb;
    -fx-background-radius: 0 0 0 0;
    
    -fx-border-color: #ffffff;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 5;

    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 10, 3, 3);

    -fx-font-family: Monospac821 BT;
}


#defaultHBox{
    -fx-background-color: #c4c4c4;
    -fx-border-width: 5 0 0 5;
    -fx-border-color: #292929;
}

#fondoGrid{
    -fx-background-color: #ffffff;
    -fx-opacity: 100%;
}

#defaultLabel{
    -fx-font-family: Monospac821 BT;
    -fx-font-size: 15;
}


#defaultInputBox{
    -fx-background-color: #cccccc;
    -fx-background-radius: 3;
    -fx-border-color: #aaaaaa;
    -fx-border-radius: 3;
    -fx-font-size: 15;
}
#defaultInputBox:hover{
    -fx-border-color: #222222;
}
#defaultInputBox:disabled{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-inner-color: #222222;
    -fx-opacity: 100%;
}
#defaultInputBox:focused{
    -fx-background-color: #aaaaaa;
    -fx-border-color: #21a115;
}
#defaultInputBoxError{
    -fx-background-color: #cccccc;
    -fx-background-radius: 3;
    -fx-border-color: #ff0000;
    -fx-border-radius: 3;
}
#opcionalLabel{
    -fx-translate-y: 20px;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-insets: 3;
}

/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                  *
 *                                                                             *
 ******************************************************************************/
.date-picker{
    -fx-background-color: transparent;
}
.date-picker > .arrow-button {
    -fx-background-color: #FEFEE3;
    -fx-background-insets: 0;
    -fx-background-radius: 0 5 5 0;
    -fx-padding: 6; /* 5 5 4 4 */
    
    -fx-border-radius: 0 5 5 0;
    -fx-border-width: 3;
    -fx-border-insets: 0;
    -fx-border-color: #000000;
}
.date-picker:disabled{  
    -fx-opacity: 100%;
}
.date-picker > .arrow-button > .arrow {
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: #2C5530;
    -fx-padding: 6; /* 5 5 4 4 */
    -fx-margin: 5;
}
.date-picker:disabled > .arrow-button {
    -fx-opacity: 20%;
}
.date-picker-popup {
    -fx-background-color: #000000;
    -fx-control-inner-background: #FEFEE3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0; /* 1 1 1 1 */
    
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: #CFDBD5;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-insets: 0 0 -3 0;
    -fx-background-color: #52694C;
    -fx-background-radius: 10;
}
.date-picker-popup > * > .spinner > .button {
    -fx-background-color: transparent;
    
    -fx-border-radius: 0;
    -fx-border-width: 0;
    
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 0, 0, 0, 0);
}
.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: transparent;
    -fx-color: -fx-hover-base;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}
.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: transparent;
}
.date-picker-popup > * > .spinner > .button:armed {
    -fx-color: transparent;
}
.date-picker-popup > * > .spinner > .left-button {
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.date-picker-popup > * > .spinner > .right-button {
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-45%);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: #AAAAAA;
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: transparent;
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-background-color: #ffffff;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #ffffff;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.date-picker-popup > .month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 0.5em 0 0 0; /* 6 0 0 0 */
    -fx-text-fill: #f3622d;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: derive(-fx-selection-bar-non-focused, 60%);
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-background-color: #CFDBD5;
    -fx-padding: 0;
}
.date-picker-popup > * > .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
}
.date-picker-popup > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: -fx-control-inner-background;
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-accent;
}
.date-picker-popup > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: derive(-fx-selection-bar-non-focused, 60%);
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: #000000;
}
.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}
.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-fill: #000000;
}
.date-picker-popup > * > .today {
    -fx-background-color: #B6174B;
    -fx-background-insets: 1, 2, 3;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: #2C5530;
    -fx-text-fill: #ffffff;
}
.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background: transparent;
}
.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
    -fx-background-color: #B6174B;
}
.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    -fx-background-color: #CFDBD5;
    -fx-background-insets: 1, 2, 3;
}
.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: -fx-selection-bar, -fx-cell-focus-inner-border, -fx-selection-bar;
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background: #E7EDDC;
}
.date-picker-popup > * > .day-cell:hover > .secondary-text,
.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text,
.date-picker-popup > * > .selected > .secondary-text {
    -fx-fill: #000000;
}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-background-color: #00000;
}

.date-picker-popup > * > .previous-month.today:hover,
.date-picker-popup > * > .next-month.today:hover {
    -fx-background-color: -fx-selection-bar-non-focused, derive(-fx-selection-bar-non-focused, -20%), -fx-selection-bar-non-focused;
}